<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12">
<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail"> <img src="assets/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-success" role="button">For Sale</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail"> <img src="assets/images/image.jpg" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Basin riche premier choix</h3>
              <p>Voici un modéle conçus un tailleur professionel qui se nom ....</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-info" role="button">contacter</a>&nbsp;&nbsp;<a href="#" class="btn btn-info" role="button">Details</a></p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 hidden-sm hidden-xs">
          <div class="thumbnail"> <img src="assets/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-success" role="button">For Sale</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail"> <img src="assets/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-info" role="button">For Rent</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="thumbnail"> <img src="assets/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-primary btn-success" role="button">For Sale</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <div class="thumbnail"> <img src="assets/images/400X200.gif" alt="Thumbnail Image 1" class="img-responsive">
            <div class="caption">
              <h3>Heading</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <hr>
              <p class="text-center"><a href="#" class="btn btn-info" role="button">For Rent</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well">
        <h3 class="text-center">Recherchez votre Model </h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="location1" class="control-label">Catégorie</label>
            <select class="form-control" name="" id="location1">
              <option value="">Any</option>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="type1" class="control-label">Tissus</label>
            <select class="form-control" name="" id="type1">
              <option value="">Any</option>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pricefrom" class="control-label">Prix de</label>
            <div class="input-group">

              <input type="text" class="form-control" id="pricefrom" aria-describedby="basic-addon1">
              <div class="input-group-addon" id="basic-addon1">Fcfa</div>
            </div>
          </div>
          <div class="form-group">
            <label for="priceto" class="control-label">Price à</label>
            <div class="input-group">

              <input type="text" class="form-control" id="priceto" aria-describedby="basic-addon1">
              <div class="input-group-addon" id="basic-addon2">FCFA</div>
            </div>
          </div>
          <p class="text-center"><a href="#" class="btn btn-danger" role="button">Recherche </a></p>
        </form>
      </div>
      <hr>
